header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

header nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

header nav .nav-right-section .profilePhoto {
    border-right: 2px solid #F6AD01;
    border-top: 2px solid #E92D18;
    border-left: 2px solid #3174F1;
    border-bottom: 2px solid #249A41;
    border-radius: 50%;
    width: 27px;
    height: 27px;
}

header nav .nav-right-section a img {
    width: 23px;
    height: 23px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 50%;
}